<div class="row">
  <div class="col-sm-10" style="text-align: left">
    <h1 mat-dialog-title>
      <strong>{{ title }}</strong>
    </h1>
  </div>
  <div class="col-sm-2" style="text-align: right">
    <mat-icon
      svgIcon="close"
      style="cursor: pointer"
      (click)="onSalir()"
      matTooltip="Salir"
      matTooltipPosition="above"
    ></mat-icon>
  </div>
</div>
<hr style="margin-top: 0%" />

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="row">
      <!-- TITULO -->
      <div class="col-sm-12">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="titulo"
            placeholder="Titulo"
          />
        </mat-form-field>
      </div>
      <!-- AÑO -->
      <div class="col-sm-12">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="anio"
            placeholder="Año"
          />
        </mat-form-field>
      </div>
      <!-- GENERO -->
      <div class="col-sm-12">
        <mat-form-field>
          <input
            matInput
            type="text"
            formControlName="genero"
            placeholder="Genero"
          />
        </mat-form-field>
      </div>
      <!-- # PAGINAS -->
      <div class="col-sm-12">
        <mat-form-field>
          <input
            matInput
            type="number"
            formControlName="npaginas"
            placeholder="# Paginas"
          />
        </mat-form-field>
      </div>
      <!-- EDITORIAL -->
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select placeholder="Editorial" formControlName="editorial">
            <mat-option
              *ngFor="let editorial of editoriales"
              [value]="editorial.id"
            >
              {{ editorial.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!-- AUTOR -->
      <div class="col-sm-12">
        <mat-form-field>
          <mat-select placeholder="Autor" formControlName="autor">
            <mat-option *ngFor="let autor of autores" [value]="autor.id">
              {{ autor.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div style="text-align: right">
      <button
        type="submit"
        [disabled]="form.invalid"
        mat-stroked-button
        color="primary"
        class="mr-2"
      >
        Guardar
      </button>
    </div>
  </form>
</div>
